body {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color:#E5E7EB;
}

.header,
.section-one,
.footer {
    background-color: #1F2937;
}

.header {
    margin: 20px 125px;
}

.hero-container h1 {
    font-size: 48px;
    font-weight:600;
    margin: 0px;
    padding: 0px;
}

.nav-links,
.hero-container p {
    font-size: 18px;
}


.hero-container p {
    margin: 10px 0px;
}

button,
.call-to-action {
    background-color: #3882F6;
}


/* Section 1 */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 150px;
}

.hero-container {
    flex: 1;
}

.image-container {
    flex: 0 0 450px;
    height: 200px;
    background-color: gray;
}


/* Section 2 */
.section-two {
    height: 400px;
}

.section-two h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
}

.card .square {
    width: 140px;
    height: 140px;
    background-color: white;
    border: #3882F6 solid 4px;
    border-radius: 10px;
    align-self: center;
}

.card p {
    text-align: center;
    color: #1F2937;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container .card {
    width: 180px;
}

/* Section 4 */
.section-three {
    background-color: #E5E7EB;
}

.quote-box {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px;
}

.quote,
.quote-credit {
    margin: 0px;
}

.quote {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    color: #424242;
}

.quote-credit {
    align-self: flex-end;
    color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.call-to-action {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    width: 750px;
    height: 30px;
    padding: 50px 100px;
    align-items: center;
}

.left h3,
.left p {
    margin: 0;
    padding: 0;
}

.left h3 {
    font-weight: 800;
}

.section-four {
    display: flex;
    justify-content: center;
    padding: 100px 80px;
}

.call-to-action .left {
display: flex;
flex-direction: column;
justify-content: center;
}

.call-to-action button {
    height: 40px;
    border: #E5E7EB 2px solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #E5E7EB;
}